<%= form_with(model: aankoopfacturen, class: "contents") do |form| %>
  <% if aankoopfacturen.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(aankoopfacturen.errors.count, "error") %> prohibited this aankoopfacturen from being saved:</h2>

      <ul>
        <% aankoopfacturen.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :bedrijfsnaam %>
    <%= form.text_field :bedrijfsnaam, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :adres %>
    <%= form.text_field :adres, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :land %>
    <%= form.text_field :land, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :postcode %>
    <%= form.text_field :postcode, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :btw %>
    <%= form.text_field :btw, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :klantnummer %>
    <%= form.text_field :klantnummer, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :factuurnummer %>
    <%= form.text_field :factuurnummer, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :excl_bedrag %>
    <%= form.number_field :excl_bedrag, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :factuurdatum %>
    <%= form.date_field :factuurdatum, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :vervaldatum %>
    <%= form.date_field :vervaldatum, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :rekeningnummer %>
    <%= form.text_field :rekeningnummer, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :begunstigde %>
    <%= form.text_field :begunstigde, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :mededeling %>
    <%= form.text_field :mededeling, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :factuur_mail %>
    <%= form.text_field :factuur_mail, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :betaald %>
    <%= form.check_box :betaald, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :bevestigd %>
    <%= form.check_box :bevestigd, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :recurrent %>
    <%= form.check_box :recurrent, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :opmerking %>
    <%= form.text_area :opmerking, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :staving %>
    <%= form.text_area :staving, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
